.toolbar {
  display: flex;
  height: 80px;
  justify-content: space-between;
  background-color: #c99;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;


}
header{
  margin: -10px;

}
.entrar{
  margin-right: 20px;
}
.button{
  font-size: large;
  color:rgb(255, 255, 255);
}
button {
  background-color: rgb(207, 157, 157);;

}
