
<header class='header'>

  <mat-toolbar class="toolbar">
            <span>
              <mat-card-actions>
                <button mat-button class="button" >
                  Me Encontre
                </button>
              </mat-card-actions>
              </span>
            <span id="perfil_entrar">
                <mat-card-actions >
                  <button mat-raised-button class="button">Entrar</button>
                  <button mat-raised-button class="button">Cadastrar</button>
                </mat-card-actions> 
                
            </span>
  </mat-toolbar>

</header>



